ion-content {
    --color: white;
}

ion-input, ion-select {
    margin-top: 20px;
    --padding-left: 5px !important;
    --border-radius: 10px;
    font-weight: bold;
}

ion-button {
    margin-top: 20px;
    --background: #23853d;
}