ion-card {
    padding: 0;
    margin: 0;
    width: 100%;

    ion-card-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        color: #FFF;
    }

    ion-card-content {
        background-color: #181818;
        height: 150px;
    }
  }

 .color-blue{ background-color: #001386;}
 .color-red{ background-color: #860000;}
 .color-green{ background-color: #008642;}
 .color-purple{ background-color: #680086;}
 .color-rose{ background-color: #860046;}
 .color-black{ background-color: #252525;}