<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [text]="''" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-thumbnail slot="end">
      <img src="assets/images/jm_logo.png" alt="logo-jm">
    </ion-thumbnail>
    <ion-title><strong>{{category.getTitle()}}</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let site of this.category.getSites()">
    <ion-card-header
      style="background-color: #181818; display: flex; flex-direction: row; align-items: center; width: 100%;">
      <ion-card-title
        style="color: white; width: 65%; font-size: 25px;"><strong>{{site['title']}}</strong></ion-card-title>

      <ion-button style="margin: 0px;" fill="outline" color="success"
        (click)="share(site['title'], site['user'], site['password'])">
        compartir
      </ion-button>
    </ion-card-header>
    <ion-card-content style="background-color: #252525; padding: 0;">
      <div style="display: flex; align-items: center; padding: 16px; justify-content: space-between;">
        <div style="width: 70%; color: white; font-size: 20px;">{{site['user']}}</div>
        <ion-button fill="clear" style="margin: 0;" (click)="copyPaste(site['user'])">
          Copiar
        </ion-button>
      </div>
      <div style="display: flex; align-items: center; padding: 16px; justify-content: space-between;">
        <div style="width: 70%; color: white; font-size: 20px;">{{site['showPassword'] ? site['password'] :
          '••••••••••'}}
        </div>
        <ion-button (click)="togglePassword(site)">
          {{site['showPassword'] ? 'Ocultar' : 'Mostrar'}}
        </ion-button>
        <ion-button fill="clear" style="margin: 0;" (click)="copyPaste(site['password'])">
          Copiar
        </ion-button>
      </div>
      <div style="width: 100%; display: flex; justify-content: center; padding: 16px;">
        <ion-button style="width: 30%; margin: 0;" color="danger" (click)="deleteSite(site)">
          borrar
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-toggle style="margin: 16px;" (ionChange)="activateDelete()">Activar borrado</ion-toggle>

  <ion-button [disabled]="!canDelete" color="danger" expand="block" (click)="deleteCategory(category)">
    borrar categoría
  </ion-button>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-button expand="block" (click)="openAddSiteModal()">
      <strong style="color: white;">añadir</strong>
    </ion-button>
  </ion-toolbar>
</ion-footer>