<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-thumbnail slot="start">
      <img src="assets/images/appchedosol-logo_FINAL.png" alt="logo-jm">
    </ion-thumbnail>
    <ion-title>Password storage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="header-box" (click)="openAddCategoryModal()">
    <ion-icon size="large" name="add-outline"></ion-icon>
    <p>Crear categoría</p>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <app-shared-components-category [category]="category"></app-shared-components-category>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>